<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiyukf.unicorn"

    android:versionCode="14"
    android:versionName="2.3.0">

    <!-- 加入应用需要的权限 -->
    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 读写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application>
        <activity
            android:name="com.qiyukf.unicorn.activity.ServiceMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ysf_action_bar_icon_transparent"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.qiyukf.nim.uikit.session.activity.WatchMessagePictureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.qiyukf.nim.uikit.session.activity.PickImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.qiyukf.nim.uikit.common.media.picker.activity.PickerAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme" />
        <activity
            android:name="com.qiyukf.nim.uikit.common.media.picker.activity.PickerAlbumPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme" />
        <activity
            android:name="com.qiyukf.nim.uikit.common.media.picker.activity.PreviewImageFromCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ysf_input_panel_take"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 声明云信后台服务 -->
        <service
            android:name="com.qiyukf.nimlib.service.NimService"
            android:process=":core" />
        <service
            android:name="com.qiyukf.nimlib.service.NimService$Aux"
            android:process=":core" />

        <!-- 云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录 -->
        <receiver
            android:name="com.qiyukf.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信receiver -->
        <receiver android:name="com.qiyukf.nimlib.service.ResponseReceiver" />
    </application>
</manifest>
